[v-cloak] {
    display: none;
}

/**
 element-ui table css 
**/
.demo-table-expand {
    font-size: 0;
}
.demo-table-expand label {
    width: 90px;
    color: #99a9bf;
}
.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}

.el-table .info-row {
    background: #c9e5f5;
}

.el-table .positive-row {
    background: #e2f0e4;
}
.content {
    min-height: 768px;
}

/** 验证码样式**/
 .captcha input { width: 35%; display: inline; vertical-align: middle; }
.captcha img { width: 95px; height: 34px; display: inline; vertical-align: middle; }
.captcha a {vertical-align: bottom;font-size: 12px;}
/** 登录错误提示样式**/
span.error  {color:red;}